/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

.messagebox-container{
  margin-left: 10%;
  margin-right: 10%;
}

.messagebox-showmessage{
  overflow: scroll;
  height: 70%;
}

.messagebox-sendmessage{
  margin-top: 10px;
}

.voting-buttons{
  margin-top: 10px;
  text-align: right;
}

.voting-option{
  margin-bottom: 10px;
}

.voting-number{
  width: 30%;
}