# IDE
.idea

# Logs
logs
*.log
npm-debug.log*
.node_repl_history

# Dependencies
node_modules
backend/typings

# Application Data
data/db

# Builds
build

# Tests
/frontend/coverage
/frontend/e2e/*.js
/frontend/e2e/*.map

# Caches
.npm
*.swp