# IDE
.idea

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
typings
frontend/semantic

# Builds
build
frontend/app/**/*.js
frontend/app/**/*.js.map

# Caches
.npm
*.swp

# REPL
.node_repl_history

# Application Data
data/db/**/*
!data/db/index.json