<div>
  <div *ngIf="!alreadyVoted()" class="panel panel-default">
    <div class="panel-body">
      <span>{{vote.title}}</span>
      <div *ngFor="let option of vote.options">
        <label>
          <input type="checkbox" value="{{option.title}}" name="options"
                 [checked]="decisions[option.title]"
                 (change)="onCheckBoxChange(option.title, $event)">
          {{option.title}} (von {{option.creator}})
        </label>
      </div>
      <addUserOption *ngIf="showAddUserOptionForm" id="myModal"
                     (closeAddOptionForm)="closeAddOptionForm($event)"
                     class="modal fade show in danger" role="dialog">
      </addUserOption>
      <button class="btn btn-default" type="button" (click)="sendDecisions()">Abstimmen</button>
      <button class="btn btn-default" type="button" (click)="addNewOption()">Option anlegen</button>
    </div>
  </div>
  <div *ngIf="alreadyVoted()" class="panel panel-default">
    <div class="panel-body">
      <h1>Danke für deine Abstimmung</h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!showChart">
        <input type="button" class="btn btn-primary" (click)="showChart=!showChart" value="Ergebnisse anzeigen">     
      </div>
      <div *ngIf="showChart">
        <button class="btn btn-primary" (click)="showChart=!showChart;closeChart()">Ergebnisse ausblenden</button>
        <div *ngFor="let chartOption of voteService.getOptions()">
          <label>
            <simple-chart-example></simple-chart-example>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>